<%- include ('_header')  %>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label for="comensal">Comensal:</label>
                        <input type="text" class="form-control" id="comensal" autofocus>
                        <br>
                        
                    </div>
                </div>
            </div>
            <div class="container" id="id_table">
                <div class="row">
                    <div class="col " align="center">
                        <div id="id_recibo">
                            <div class="font-weight-bold" align="center">
                                Pollos Doña Agri
                            </div>
                            <div id="id_div_comensal"></div>
                            <div id="id_div_datetime"></div>
                            <table class="text-center">
                                <thead id="th1">
                                    <th></th>
                                    <th>Costo</th>
                                    <th>Cant.</th>
                                    <th>Total</th>
                                </thead>
                                <tbody id="id_tbody">
                                </tbody>
                            </table>
                        </div>

                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Cobrar</a>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Importe Detallado</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div id="id_modal_body"> </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" id="btn_save_print">Guardar e Imprimir</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <a href="/" class="btn btn-danger">Limpiar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <table class="table table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Producto</th>
                        <th>Cant.</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(prods) %>
                    <% for(var i = prods.length - 1; i >= 0; i--){ %>
                    <tr>
                        <td class="align-middle">
                            <div class="row">
                                <div class="col  font-weight-bold">
                                    <%= prods[i].producto %>
                                </div>
                                <div class="col">
                                    (S/ <%= prods[i].costo %>)
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">
                            <div class="row">
                                <div class="col"
                                    onclick="operar('-','<%= prods[i].id_prod %>', '<%= prods[i].costo %>')">
                                    <img src="img/icons8_minus_64px.png" alt="restar" height="26">
                                </div>
                                <div class="col  font-weight-bold">
                                    <!-- Cant. -->
                                    <div id="id_cant_<%= prods[i].id_prod %>">
                                        0
                                    </div>
                                </div>
                                <div class="col"
                                    onclick="operar('+','<%= prods[i].id_prod %>', '<%= prods[i].costo %>')">
                                    <img src="img/icons8_plus_64px_1.png" alt="restar" height="26">
                                </div>
                            </div>
                        </td>
                        <td class="align-middle  font-weight-bold">
                            <!-- Total -->
                            <div id="id_total_<%= prods[i].id_prod %>">
                                0
                            </div>
                        </td>
                    </tr>
                    <% } %>
                    <tr>
                        <td></td>
                        <td class="font-weight-bold">Total:</td>
                        <td class="font-weight-bold">
                            <div id="id_total_a_pagar">0</div>
                        </td>
                    </tr>
                    <div>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <%- include ('_tabla_comensales')  %>
        </div>
    </div>
</div>

<!-- Modal tod ok ^_^ -->
<div class="modal fade" id="myModalok" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registrado con Éxito!</h4>
            </div>
            <div class="modal-body">
                ^_^
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-success">Ok</a>
            </div>
        </div>

    </div>
</div>

<script>
    var res_1 = [];
    var suma = 0;
    var fecha = "";

    $("#id_table").hide();

    $("#btn_save_print").click(function (click) {
        //ocultar modal
        $("#myModal").modal('hide');

        //enviar información a la base de datos

        var comanda = {
            comensal: $("#comensal").val(),
            fecha: fecha,
            suma: suma,
        };
        $("#contenido").hide();
        $("#cargando").show();
        $.post("/add_comanda", {
            comanda: JSON.stringify(comanda),
            detalle: JSON.stringify(res_1),
        }).done(data => {
            $("#contenido").show();
            $("#cargando").hide();
            console.log(data);
        }).fail(err => {
            console.log(err);
        })

        //imprimir recibo
        print_div('id_recibo');

        //mostrar mensaje de registrado con éxito
        $("#myModalok").modal('show');
    });

    $("#comensal").keyup(() => {
        $("#comensal").val($("#comensal").val().toUpperCase());
        $("#id_div_comensal").text($("#comensal").val());
        calcular_total();
    });

    function print_div(id_div) {
        var divToPrint = document.getElementById(id_div).innerHTML;
        var newWin = window.open("", 'print', 'height=600, width=800');

        newWin.document.write('<html><head><title>Voucher - Pollos Doña Angri </title>');
        newWin.document.write('</head><body >');
        newWin.document.write(divToPrint);
        newWin.document.write('</body></html>')

        newWin.document.close();
        newWin.focus();

        newWin.print();
        newWin.close();

        return true;
    };

    function f_fecha() {
        fecha = new Date();
        var aa = fecha.getFullYear();
        var mm = fecha.getMonth() + 1;
        var dd = fecha.getDate();
        var hhh = fecha.getHours();
        var mmm = fecha.getMinutes();
        var sss = fecha.getSeconds();

        var fecha_txt = aa + '-' + mm + '-' + dd + ' ' + hhh + ':' + mmm + ':' + sss;
        fecha = fecha_txt;
        return fecha_txt;
    };

    function calcular_total() {
        var prods = '<%- JSON.stringify(prods) %>';
        prods = JSON.parse(prods);

        $("#id_div_datetime").text(f_fecha());

        res_1 = [];
        suma = 0;

        $("#id_tbody").empty();
        for (var i = prods.length - 1; i >= 0; i--) {
            // obtenemos cant
            var cant = parseInt($("#id_cant_" + prods[i].id_prod).text());
            // obtenemos sub total
            var sub_total = parseFloat($("#id_total_" + prods[i].id_prod).text());
            suma = suma + sub_total;

            if (cant > 0) {
                //detallado
                var detalle = {
                    id_prod: prods[i].id_prod,
                    producto: prods[i].producto,
                    costo: prods[i].costo,
                    cant: cant,
                    total: sub_total,
                }
                var tr = '<tr>' +
                    '<td>' + prods[i].producto + '</td>' +
                    '<td>' + prods[i].costo + '</td>' +
                    '<td>' + cant + '</td>' +
                    '<td>' + sub_total + '</td>' +
                    '</tr>';
                $("#id_tbody").append(tr);
                res_1.push(detalle);
            };
        };
        //agregamos total al recibo
        $("#id_tbody").append('<tr class="font-weight-bold"><td></td><td></td><td>Total:</td><td>' + suma +
            '</td></tr>');

        //mostrar total a pagar
        $("#id_total_a_pagar").text(suma);

        if (suma > 0) {
            $("#id_table").show();
            //poner la tabla en el modal
            $("#id_modal_body").empty();
            $("#id_recibo").clone(true).appendTo($("#id_modal_body"));
        } else $("#id_table").hide();

    };

    function calcular_sub_total(id_prod, cant, costo) {
        var id = "#id_total_" + id_prod;
        var div_total = $(id);
        var sub_total = cant * costo;
        div_total.text(sub_total);
    };

    function operar(signo, id_prod, costo) {
        var id = "#id_cant_" + id_prod;
        var div_cant = $(id);
        var cant = parseInt(div_cant.text());
        if (signo == '+') cant = cant + 1;
        else if (cant > 0) cant = cant - 1;
        div_cant.text(cant);

        calcular_sub_total(id_prod, cant, costo);

        calcular_total();
    };
</script>

<%- include ('_footer')  %>